

.App {
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  padding-bottom: 3%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

/*
.App-link {
  color: #61dafb;
}


.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; 
  height: 100vh;
  background-color: #f1f1f1;
}
*/

.Menu-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
   align-items: center; 
  height: 100vh;
  justify-content: space-around;
  border: 5px solid lightblue;
  border-radius: 60px;
}



.food-options-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  position: inherit; 
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.food-option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.food-option-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 1rem;
}

.food-option-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.food-option-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.food-option-price {
  font-size: 1rem;
  color: #999;
  margin-bottom: 0.5rem;
}

.food-option-add-button {
  background-color:  rgb(67, 178, 195);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.food-option-add-button:hover {
  background-color: magenta;
}
.selected-food-container {
  margin-left: 2rem;
}

.selected-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.selected-food-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.selected-food-info {
  text-align: center;
}

.selected-food-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.selected-food-price {
  font-size: 1.5rem;
  color: #999;
  margin-bottom: 1rem;
}

.selected-food-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
