.reservation-form{
  border: 5px solid lightblue;
  border-radius: 60px;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 2%;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.resApprovalMessage{
  border: 5px solid lightblue;
  border-radius: 60px;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 2%;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}
.time-input {
  font-size: 30px;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  border: solid lightblue;
  width: 30%;
}

.time-label {
  font-size: 30px;
  align-items: left;
}




.form-group{
  padding-top: 2%;


}

input{
  font-size: 30px;
  padding: 10px;
  border: 0;
  
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  border: solid lightblue;
}

label{
  font-size: 30px;
  align-items: left;
 
}

button{
  font-size: 40px;
  margin-top: 28px;
}

button:hover{

  background-color: magenta;
}

select{
  font-size:30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(67, 178, 195);
  color: white;
  padding: 0.5%;
}

.resButton{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 2%;
}
