.CallService{
    border: 5px solid lightblue;
    border-radius: 60px;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 2%;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

button{
    font-size: 40px;
}