.App {
  text-align: center;
}

ul{
  list-style: none;
  font-size: 35px;
  color: whitesmoke;
}

.NavBar{
  display: flex;
  background-color: rgb(2, 93, 107);
  justify-content: space-evenly;
  align-items: center;

}